extends layout

block css
  link(href="http://vjs.zencdn.net/c/video-js.css",rel="stylesheet")
  script(src="http://vjs.zencdn.net/c/video.js")
  != css('view')

block content
  script config = {"video": !{JSON.stringify(vid)}}
  a(href=vid.video) VIDEO

  .container
    video(id="video",class="video-js vjs-default-skin",preload="auto",width="640",height="264",data-setup="{}")

      source(src=vid.video,type='video/webm')
      source(src=vid.flashurl,type='video/flv')
    button.play Play!
    .hitpct
    .stats
      .controls
        .players
          h3.header Player
          -each player in players
            span.checkbox-group
              input.player-checkbox(type="checkbox",data-player=player)
              label.checkbox.inline= player
        .skills
          h3.header Skill
          -each skill in skills
            .skill(class=skill.name)
              span.checkbox-group
                input.skill-checkbox(type="checkbox",data-skill=skill.name)
                label.checkbox.inline= skill.name
              .details
                -each values, name in skill.details
                  div.detail(class=name, data-name=name)
                    span.detail-label.checkbox.inline #{name}:
                    .options
                      -each value in values
                        span.checkbox-group
                          input.detail-checkbox(type="checkbox",data-detail=value)
                          label.checkbox.inline=value

      .log
        -each stat, idx in vid.stats
          .stat(data-time=stat.time, id="stat-#{idx}")= JSON.stringify(stat.stat)

      
                
block scripts
  != js('view')

{skill: 'hit', player: 4, details: {hands: h0, location: "5-6"}}
